.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border: none;
    border-radius: 15%;
    background-color: #4a61e7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #4238c7;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }